/* *{
    border: 1px solid red;
} */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url('https://img.freepik.com/fotos-premium/freshfern-verde-deja-detras-composicion-vidrio-mojado-fondo-hierbas-frescura-gotas-agua-rocio-sobre-vidrio-follaje-natural-follaje-fondo-botanico_165623-1956.jpg?w=1060'); */
    background-image: url('https://img.freepik.com/foto-gratis/paisaje-sobre-volcan-batur-bali-indonesia_72229-1010.jpg?size=626&ext=jpg&ga=GA1.1.1413851642.1693077997&semt=ais');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    transition: 500ms;
}



header{
    position: absolute;
    right: 0;
    width: 500px;
    margin-top: 0;
    z-index: 1;
}
main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

#containerAll{
    width: 500px;
    height: 100vh;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.402);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

input {
    width: 70%;
    height: 48px;
    border: none;
    border-bottom: 1px solid white;
    padding: 0;
    padding-left: 5px;
    margin-right: 20px;
    background: none;
    color: white;
    font-size: 25px;
    overflow-x: scroll;
    text-transform: lowercase;
}

input:-webkit-autofill,
input:focus,
input:-webkit-autofill:focus {
    outline: none;
  -webkit-box-shadow: 0 0 0 30px none inset !important; /* Cambiar el color del fondo */
}
input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 20px;
}

button {
    border: none;
    background-color: coral;
    width: 70px;
    height: 70px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}
button:hover {
    background-color: chocolate;
    transition: .3s;
}

.button--search {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* opacity: .5; */
    z-index: -1;   
}

#weatherInfo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
}

h2 {
    margin: 10px 0 10px 0;
    font-size: 3rem;
}
.temperature {
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: -70px;
}
.temp{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.description {
    font-size: 2rem;
    font-weight: 600;
}

.iconClima {
    width: 250px;
    margin-bottom: -30px;
}

.descriptionSpan{
    margin-right: 40%;
}

hr {
    width: 80%;
    border: 1px solid #707070;
}

/* footer */
footer{
    margin-top: 20%;
    text-align: center;
}
footer p{
    color: #fff;
    font-size: 20px;
}
footer a{
    color: rgb(184, 184, 184);
}

@media screen and (max-width:500px) {
    #containerAll{
        width: 100%;
        height: inherit;
    }

    h1{
        font-size: 30px;
    }

    input {
        width: 70%;
        height: 38px;
        font-size: 15px;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }

    h2 {
        font-size: 2rem;
    }

    .temperature {
        font-size: 2.5rem;
    }

    .temp {
        font-size: 16px;
    }

    .description {
        font-size: 1.5rem;
    }

    footer{
        margin-top: 0;
    }

    footer p {
        font-size: 16px;
        padding-bottom: 1rem;
    }

    body{
        background-repeat: repeat;
    }
}